<div>
    <H1>About us</H1>
    The Curbmap project was begun in late 2016, at the ongoing civic hack nights as a part of Hack For L.A.
    Our current workforce includes, but is not limited to:<br>
    <ul>
        <li>Isabelle Americano, Product Management and Design</li>
        <li>Ben Coppersmith, Database Consultant and Data Science Lead</li>
        <li>Joshua Herman, Project Director</li>
        <li>Tommy Kelly, React Native Project Lead</li>
        <li>Shashin Patel, UX & Design</li>
        <li>Eli Selkin, Database, API, Maps, this landing page, etc.</li>
        <li>Kuhan Muniam, Android Developer</li>
    </ul>

    <br><br>
    <H1>Focus</H1>
    Currently curbmap is focused on the City of Los Angeles, with plans to expand to other areas as we optimize our models.
    Los Angeles is a large metropolitan expanse with a large variety of restrictions to parking. We anticipate that lessons
    learned here will generalize.
</div>
