h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.center-solid-box {
  position: relative;
  width: 100%;
  border-radius: 5px;
  padding: 20px;
  background: rgba(50, 220, 240, 0.75);
}

input:-webkit-autofill {
  background-color: white;
  -webkit-box-shadow: 0 0 0 30px white inset;
}

span#newsTitle {
  float: right;
}

div#newsModal {
  z-index: 100;
}

.center-container {
  border-radius: 5px;
  min-width: 75vw;
  padding: 20px;
  width: 75vw;
  margin: 20px;
  background: rgba(255, 255, 255, 0.4);
}

.center-title {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
  position: relative;
  width: 100%;
  text-align: center;
}

.no-border {
  width: 100%;
  height: 100%;
  font-size: 18px;
  border: 0;
  box-shadow: 0;
}
